.my-container {
	padding: 12px;
	@include media-breakpoint-up(md) {
	  padding: 0;
	  max-width: 58.5rem;
	  margin: auto;
	}
  }
  
  // Slideshow container
  .slideshow-container {
	max-width: 58.5rem;
	position: relative;
	margin: auto;
	border-radius: 0.25rem;
	border: 1px solid $interface-grey;
	padding: 1rem 0.75rem 0.2rem 0.75rem;
	@include media-breakpoint-up(md) {
	  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
	}
  }
  
  .my-slide {
	display: none;
  
	&:first-child {
	  display: block;
	}
	
	.slide-content > :first-child {
	  margin-top: 0;
	  &:focus-visible {
		@include element-focus('light');
	  }
	}
	
	.slide-content > :last-child {
	  margin-bottom: 0;
	}
  }
  
  .slide-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid $interface-grey;
	margin-top: 2rem;
	padding-top: 0.25rem;
  
	.progress-numbers {
	  color: $accent-color;
	  order: 1;
	  @include type-small;
	  font-weight: bold;
	}
  
	.prev, .next {
	  border: 0;
	  border-radius: 0.25rem;
	  background-color: transparent;
	  width: 2rem;
	  height: 2rem;
	  padding: 0;
	  transform: rotate(-90deg);
	  @include default-focus('light');
  
	  &:before {
		@include carat;
	  }
  
	  &:hover {
		border: 1px solid $link-hover-color;
	  }
	}
  
	.prev {
	  padding: 0;
	  transform: rotate(90deg);
	}
	
	.next {
	  order: 2;
	}
  }
  
  // Dark mode
  @include color-mode(dark) {
	.my-slide {
	  .slide-content > :first-child {
		&:focus-visible {
		  @include element-focus('dark');
		}
	  }
	}
  
	.slide-nav {
	  .prev, .next {
		@include default-focus('dark');
		
		&:before {
		  @include carat-dark;
		}
  
		&:hover {
		  border: 1px solid $link-hover-color-dark;
		}
	  }
  
	  .progress-numbers {
		color: $accent-color-dark;
		order: 1;
		@include type-small;
		font-weight: bold;
	  }
	}
  }
  
  // Dots
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  // Hotspot Container
  .hotspot-container {
	position: relative;
	width: 100%;
	margin: auto;
	border-radius: 0.25rem;
	border: 1px solid $interface-grey;
  }
  
  .background-image {
	width: 100%;
  }
  
  .hotspot {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	transition: transform 0.3s ease;
  
	&:hover, &:focus-visible {
	  transform: scale(1.2);
	}
  }
  
  .info-box {
	display: none;
	position: absolute;
	background-color: white;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	z-index: 10; 
  
	@include media-breakpoint-up(md) {
	  top: 0;
	  left: 100%;
	  margin-left: 10px;
	  max-width: 200px;
	  width: auto;
	}
  
	@media (max-width: 768px) {
	  position: static;
	  width: auto;
	  display: block;
	}
  }