header
  .container
    h2.text-center Classification of matter
.container

  .row
    .col-xs-12
      .panel.panel-success
        .panel-heading.text-center
          h3.panel-title Matter
        .panel-body.text-center
          | Anything that has mass and substance
      .panel
        .panel-body.text-info.panel-success.bg-info.text-center
          span.glyphicon.glyphicon-question-sign(aria-hidden='true')
          |  Are properties and composition constant?
      .row
        .col-xs-6.text-center
          p.btn
            span.glyphicon.glyphicon-arrow-down
        .col-xs-6.text-center
          p.btn
            span.glyphicon.glyphicon-arrow-down
  .row
    .col-xs-6.text-center
      p.center-block
        span.btn.btn-success.btn-lg Yes
      p.btn.center-block
        span.glyphicon.glyphicon-arrow-down
      .panel.panel-warning
        .panel-heading
          h3.panel-title Pure substance
        .panel-body
          | A substance that has a uniform chemical composition throughout
          br  
          | e.g. Water, sugar, table, salt
      
      .col-xs-12
        .panel
          .panel-body.text-info.panel-success.bg-info
            span.glyphicon.glyphicon-question-sign(aria-hidden='true')
            |  Can the pure substance be broken into simpler substances?
      .row
        .col-xs-6.text-center
          p.btn
           span.glyphicon.glyphicon-arrow-down
        .col-xs-6.text-center
          p.btn
           span.glyphicon.glyphicon-arrow-down
      .row
        .col-xs-6
          p.center-block
            span.btn.btn-success.btn-lg Yes
          p.btn
            span.glyphicon.glyphicon-arrow-down
          .panel.panel-danger
            .panel-heading.text-center
              h3.panel-title Chemical compound
            .panel-body.text-center
              | Can be chemically broken down into constituent elements
              | e.g. Water, sugar, table salt  
        .col-xs-6.text-center
          p.center-block
            span.btn.btn-danger.btn-lg No
          p.btn.center-block
            span.glyphicon.glyphicon-arrow-down
          .panel.panel-danger
            .panel-heading.text-center
              h3.panel-title Element
            .panel-body.text-center
              | Cannont be broken down into simpler substances by chemical or physical means
              | e.g. Hydrogen, oxygen, sulphur  
    .col-xs-6.text-center
      p.center-block
        span.btn.btn-danger.btn-lg No
      p.btn.center-block
        span.glyphicon.glyphicon-arrow-down
      .panel.panel-warning
        .panel-heading
          h3.panel-title Mixture
        .panel-body
          | Physical combination of two or more pure substances
          br  
          | e.g. Salt-sand mixture, sea water, concrete
      .col-xs-12
        .panel
          .panel-body.text-info.panel-success.bg-info.text-center
            span.glyphicon.glyphicon-question-sign(aria-hidden='true')
            |  Does the mixture have a uniform composition throughout?
      .row
        .col-xs-6.text-center
          p.btn
            span.glyphicon.glyphicon-arrow-down
        .col-xs-6.text-center
          p.btn
            span.glyphicon.glyphicon-arrow-down
      .row
        .col-xs-6
          p.center-block
            span.btn.btn-success.btn-lg Yes
          p.btn
            span.glyphicon.glyphicon-arrow-down
          .panel.panel-danger
            .panel-heading.text-center
              h3.panel-title Homogenous Mixture 
            .panel-body.text-center
              | One visible phase which has uniform composition throughout
              | e.g. Sea water, coffee, air 
        .col-xs-6.text-center
          p.center-block
            span.btn.btn-danger.btn-lg No
          p.btn.center-block
            span.glyphicon.glyphicon-arrow-down
          .panel.panel-danger
            .panel-heading.text-center
              h3.panel-title Hetereogeneous mixture
            .panel-body.text-center
              | One visible phase which has uniform composition throughout
              | e.g. Vegetable stew, meat pie
