@font-face {
  font-family: 'Museo300';
  src: url("../webfonts/museo_300_macroman/Museo300-Regular-webfont.eot");
  src: url("../webfonts/museo_300_macroman/Museo300-Regular-webfont%EF%B9%96.eot#iefix") format("embedded-opentype"), url("../webfonts/museo_300_macroman/Museo300-Regular-webfont.woff") format("woff"), url("../webfonts/museo_300_macroman/Museo300-Regular-webfont.ttf") format("truetype"), url("../webfonts/museo_300_macroman/Museo300-Regular-webfont.svg#Museo500") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo500';
  src: url("../webfonts/museo_500_macroman/Museo500-Regular-webfont.eot");
  src: url("../webfonts/museo_500_macroman/Museo500-Regular-webfont%EF%B9%96.eot#iefix") format("embedded-opentype"), url("../webfonts/museo_500_macroman/Museo500-Regular-webfont.woff") format("woff"), url("../webfonts/museo_500_macroman/Museo500-Regular-webfont.ttf") format("truetype"), url("../webfonts/museo_500_macroman/Museo500-Regular-webfont.svg#Museo500") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 25, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
html {
  font-size: 62.5%;
}

/* Font styles. */
/* line 30, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
body {
  margin: 0;
  /* Chrome bug - https://code.google.com/p/chromium/issues/detail?id=319623
   Use rem everywhere else */
  font: 1.4em/1.571em "Helvetica Neue", helvetica, Arial, sans-serif;
  background: url(../images/background.png) no-repeat 50% 150px #dcdcd6;
  letter-spacing: 0.039rem;
}

/* Links */
/* line 40, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
a:link {
  color: #d30900;
  text-decoration: none;
}

/* line 44, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
a:visited {
  color: #d30900;
}

/* line 47, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
a:hover, a:active {
  text-decoration: underline;
}

/* line 50, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

/* line 53, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
h1 {
  font-family: "Museo300", "Cambria", "Times New Roman", Times, serif;
  font-size: 2.86rem;
  font-weight: 300;
  margin: 0;
}

/* line 60, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
h1 a:link, h1 a:visited {
  color: #000;
  display: block;
}

/* line 65, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
h2 {
  font-size: 4.2rem;
}

/* line 69, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
h3 {
  font-family: "Museo300", "Cambria", "Times New Roman", Times, serif;
  color: #D30900;
  font-size: 1.8rem;
  margin: 2.8rem 0 1.4rem;
}
/* line 75, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
h3:first-child {
  margin-top: 0;
}

/* line 80, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
h4, h5, h6 {
  color: #000;
}

/* line 84, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
h4 {
  font-family: "Museo500", "Cambria", "Times New Roman", Times, serif;
  margin: 2.8rem 0 1.4rem;
  font-size: 1.6rem;
  color: #000;
}

/* line 90, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 95, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
h6 {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 101, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
p {
  margin: 0 0 1.4rem 0;
}

/* List styles. */
/* line 105, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
ul, ol {
  margin-left: 0;
  padding-left: 2.8rem;
  margin-bottom: 1.4rem;
}

/* Table styles. */
/* line 111, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
table {
  width: 99%;
}

/* line 115, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
tbody {
  border: 0 none;
}

/* line 119, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 123, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
tr.odd {
  background-color: white;
}

/* Code. */
/* line 127, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
pre, code, tt {
  font: 1.4rem "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 131, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 139, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
ul {
  list-style-type: disc;
}

/* line 141, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
ul ul {
  list-style-type: circle;
}

/* line 144, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
ul ul ul {
  list-style-type: square;
}

/* line 146, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 149, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
ol {
  list-style-type: decimal;
}

/* line 151, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
ol ol {
  list-style-type: lower-alpha;
}

/* line 153, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 157, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* line 162, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
input[type="submit"] {
  padding: 7px 10px;
  border: 0 none;
  border-radius: 4px;
  background: #ddd;
}

/* About Default Styles
 * ---------------------
 * default.css is used to establish general rules, browser reset, or admin user interface styles.
 * Browser Reset
 * -------------
 * For a more complete reset, go to http://developer.yahoo.com/yui/reset/ */
/* line 175, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
* {
  margin: 0;
  padding: 0;
}

/* Clear Floats Without Structural Markup
 * ---------------------------------------
 * http://www.positioniseverything.net/easyclearing.html */
/* line 183, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.clearfix {
  display: inline-block;
}

/* line 186, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hides from IE-mac \ */
/* line 195, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
* html .clearfix {
  height: 1%;
}

/* line 199, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.clearfix {
  display: block;
}

/* End hide from IE-mac */
/* clear classes */
/* line 205, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.clearleft, .clearl, .cleft {
  clear: left;
}

/* line 209, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.clearright, .clearr, .cright {
  clear: right;
}

/* line 213, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.clear, .clearboth, .clearall {
  clear: both;
}

/* Float classes */
/* line 218, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

/* line 223, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

/* "Skip to Main Content" link
 * ---------------------------
 * This link useful for both visually impaired people and those with mobility impairments
 * who cannot use a mouse. http://www.webaim.org/techniques/css/invisiblecontent/ */
/* line 232, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 240, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* bug fix with views 2 edit links. */
/* line 247, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
div.view div.views-admin-links {
  width: auto;
}

/* Rollover edit links for blocks. */
/* line 252, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
div.block {
  position: relative;
}

/* line 255, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  /*let's get fancy! */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}

/* line 272, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 278, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
div.block:hover .edit {
  display: block;
}

/* Wireframe styles. */
/* line 284, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.with-wireframes #header,
.with-wireframes #content-top,
.with-wireframes #content-top > *,
.with-wireframes #content-header,
.with-wireframes #content-header > *,
.with-wireframes #content-area,
.with-wireframes #content-area > *,
.with-wireframes #content-bottom,
.with-wireframes #content-bottom > *,
.with-wireframes #primary,
.with-wireframes #secondary,
.with-wireframes #sidebar-left-inner,
.with-wireframes #sidebar-right-inner,
.with-wireframes .block {
  padding: 2px;
  border: 1px solid #bbbbbb;
}
/* line 301, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.with-wireframes .node {
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 10px;
}
/* line 305, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.with-wireframes .block {
  margin-bottom: 3px;
}
/* line 308, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.with-wireframes #content-top,
.with-wireframes #content-header,
.with-wireframes #content-area,
.with-wireframes #content-bottom {
  margin: 0 3px 3px;
}
/* line 314, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.with-wireframes #footer {
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #cccccc;
}
/* line 319, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.with-wireframes.with-navigation #content, .with-wireframes.with-navigation .sidebar {
  margin-top: 50px;
}
/* line 323, /Volumes/ACA_LandT/EMG/1_Current/NAP/EMG/Drupal7_standalone/learninglab/sites/all/themes/ll/scss/default.scss */
.with-wireframes #navigation {
  height: 50px;
}

/*# sourceMappingURL=default.css.map */
