.quiz {
	max-width: 58.5rem;
	position: relative;
	margin: auto;

	border-radius: 0.25rem;
	border: 1px solid $interface-grey;

	padding: 1rem 0.75rem 0.75rem 0.75rem;

	@include media-breakpoint-up(md) {
		padding: 1.5rem;
	}

	li {
		margin-bottom: 2rem !important;
	}

	.quiz-score, .quiz-feedback-verbose {
		display: none;
	}

	.quiz-feedback-minimal {
		display: flex;
		align-items: center;
		
		button {
			flex-shrink: 0;
		}

	.quiz-score {
		@include type-lead;
			margin: 0;
		}
	}

	.quiz-feedback-verbose {
		border-radius: 0 0 0.25rem 0.25rem;
		border: 1px solid $interface-grey;	
		border-top: 0.25rem solid $success;

		background-color: $underlay-grey;

		margin-top: 1.5rem;
		padding: 1rem 1.5rem;

		h4 {
			margin: 0;
			margin-bottom: 0.75rem;
		

			&.bronze, &.gold, &.silver {
				display: flex;
				align-items: center;
				gap: 0.75rem;
				margin-bottom: 0.5rem;
			}

			&::before {
				content: '';
				display: inline-block;
				flex-shrink: 0;
				width: 28px;
				height: 28px;
				background-size: contain; 
				background-repeat: no-repeat; 
				background-position: center;
			}

			&.bronze::before {
				background-image: url(../images/star-bronze@2x.png);
			}

			&.silver::before {
				background-image: url(../images/star-silver@2x.png);
			}

			&.gold::before {
				background-image: url(../images/star-gold@2x.png);
			}

		}

		.extra-feedback {
			&:first-child { margin-top: 0 }
		}
	}
}

.quiz-header {
	h3 {
        display: flex;
        align-items: center;
        @include type-lead;
        padding: 0;
        margin: 0;
		gap: 0.75rem;
    }
    
    h3::before {
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
		content: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E   %3Ccircle cx='20' cy='20' r='19.5' fill='%23000054'/%3E   %3Cpath d='M19.8,24.2c-1.7,0-3-1.3-3-3v-1.3c0-2.3,1.4-4.2,3.6-4.9.7-.2,1.2-.9,1.2-1.7,0-.9-.8-1.7-1.7-1.7-.4,0-.9.2-1.3.5-.3.3-.5.8-.5,1.2,0,1.7-1.3,3-3,3s-3-1.3-3-3,.8-4.1,2.3-5.5c1.5-1.5,3.5-2.2,5.6-2.2,4.2,0,7.6,3.5,7.6,7.6,0,3.2-1.8,6-4.7,7.3v.8c0,1.7-1.3,3-3,3ZM19.8,26.3c-2,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5,3.5-1.6,3.5-3.5-1.6-3.5-3.5-3.5Z' fill='%23ffffff'/%3E %3C/svg%3E");
	}

	p {
		margin-top: 0.5rem;
	}

	hr {
		margin: 1rem 0 1.5rem 0;
	}
}

// Dark Mode
@include color-mode(dark) {
	.quiz-header {
		h3::before {
			content: url("data:image/svg+xml,%3Csvg version='1.1' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E   %3Ccircle cx='20' cy='20' r='19.5' fill='%236FB7FF'/%3E   %3Cpath d='M19.8,24.2c-1.7,0-3-1.3-3-3v-1.3c0-2.3,1.4-4.2,3.6-4.9.7-.2,1.2-.9,1.2-1.7,0-.9-.8-1.7-1.7-1.7-.4,0-.9.2-1.3.5-.3.3-.5.8-.5,1.2,0,1.7-1.3,3-3,3s-3-1.3-3-3,.8-4.1,2.3-5.5c1.5-1.5,3.5-2.2,5.6-2.2,4.2,0,7.6,3.5,7.6,7.6,0,3.2-1.8,6-4.7,7.3v.8c0,1.7-1.3,3-3,3ZM19.8,26.3c-2,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5,3.5-1.6,3.5-3.5-1.6-3.5-3.5-3.5Z' fill='%23ffffff'/%3E %3C/svg%3E");
		}
	}
}

.select-word-quiz {

	//label tag wraps sentence and enclosed select tag
	.label-wrap {
		line-height: 2;

		@include media-breakpoint-up(md) {
			line-height: 2.5;
		}
	}
	
	//display select elements inline, restrict width
	.inline-select {
		display: inline;
		width: auto;
		max-width: 320px;

		margin: 0;

		&:focus-visible {
			@include element-focus('light');
		}

		@include media-breakpoint-up(md) {
			margin: 0 0.25rem;
			max-width: 600px;
		}
	}
}

.radio-quiz {

	.radio-group {
		margin-top: 0.75rem;
	}

	.form-check-input:focus-visible {
		@include element-focus('light');

	}

	.donkey {
		width: 3rem;
		height: 3rem;
		display: inline-block;

		background-color: aqua;
	}

	 .form-check-input.is-valid:first-of-type {
		position: relative;
	}

	.radio-group .form-check:nth-child(1) .form-check-input.is-valid {
		margin-left: 1rem;
	}

	.radio-group .form-check:nth-child(1) .form-check-input.is-valid::before {
		content: '';
		display: inline-block;
		width: 1.5rem;   
		height: 1.5rem;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23008057' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
		background-size: cover;
		position: absolute;
		left: -2.5rem;
		top: 50%;
		transform: translateY(-50%);
	} 
}