
/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #fefefe;
    color: #333;
  }
  a {
    color: #fff;
  }
  a:link, a:visited {
    color: #fff;
  }
  #Elements ol {
    color: #000054;
  }
  #Elements li {
    outline-color: #000054;
  }
  #Key dt {
    outline-color: #000054;
  }
  #Elements li button {
    border-right: .1em solid #fff;
    border-bottom: .1em solid #fff;
  }
  #Elements li button:focus, #Elements li button:hover {
    border-right-color: #000;
    border-bottom-color: #000;
  }
  .cat-diatomic_nonmetal {
    background-color: #7ae1AA;
  }
  .cat-noble_gas {
    background-color: #FAC800;
  }
  .cat-alkali_metal {
    background-color: #FC9147;
  }
  .cat-alkaline_earth_metal {
    background-color: #EEDC00;
  }
  .cat-metalloid {
    background-color: #AAD75F;
  }
  .cat-polyatomic_nonmetal {
    background-color: #00DCB4;
  }
  .cat-post-transition_metal {
    background-color: #0074e7;
  }
  .cat-transition_metal {
    background-color: #3F99FF;
  }
  .cat-lanthanide {
    background-color: #00AAFF;
  }
  .cat-actinide {
    background-color: #50D2FF;
  }
  .cat-unknown_probably_transition_metal,
.cat-unknown_probably_post-transition_metal,
.cat-unknown_probably_metalloid,
.cat-unknown_predicted_to_be_noble_gas,
.cat-unknown_but_predicted_to_be_an_alkali_metal {
    background-color: #FF8199;
  }
  #Elements li#Key button {
    background-color: transparent;
  }
  #Elements li#Key button:focus, #Elements li#Key button:hover {
    background-color: #fff;
  }
  [role="dialog"] {
    background: #fefefe;
  }
}

/* Reduced motion */
@media screen and (prefers-reduced-motion: reduce) {
  #Elements li,
[role="dialog"] {
    transition: none;
  }
}

/* Windows High Contrast Mode Support */
@media screen and (-ms-high-contrast: active) {
  #Elements li button:focus, #Elements li button:hover {
    outline: 1px windowText dotted;
    background-color: windowText;
  }
}

@media screen and (-ms-high-contrast: white-on-black) {
  #Elements li button {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M71.77069 61.87311a36.53064 36.53064 0 1 0-9.89917 9.89868l21.1792 21.17792a6.9996 6.9996 0 1 0 9.89844-9.89942zM41.49994 64a22.5 22.5 0 1 1 22.5-22.5 22.52554 22.52554 0 0 1-22.5 22.5z' fill='%23fff'/%3E%3C/svg%3E");
  }
  #Elements li button:focus, #Elements li button:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M71.77069 61.87311a36.53064 36.53064 0 1 0-9.89917 9.89868l21.1792 21.17792a6.9996 6.9996 0 1 0 9.89844-9.89942zM41.49994 64a22.5 22.5 0 1 1 22.5-22.5 22.52554 22.52554 0 0 1-22.5 22.5z' fill='%23000'/%3E%3C/svg%3E");
  }
  [role="dialog"] button {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M50 0a50 50 0 1 0 0 100A50 50 0 0 0 50 0zm26.6 76.6a37.5 37.5 0 0 1-53.2 0 37.5 37.5 0 0 1 0-53.2 37.5 37.5 0 0 1 53.2 0 37.5 37.5 0 0 1 0 53.2zm-7.3-45.9a6.6 6.6 0 0 0-9.3 0l-10 10-10-10a6.6 6.6 0 0 0-9.3 9.3l10 10-10 10a6.6 6.6 0 1 0 9.3 9.3l10-10 10 10a6.6 6.6 0 0 0 9.3 0 6.6 6.6 0 0 0 0-9.3l-10-10 10-10a6.6 6.6 0 0 0 0-9.3z' fill='%23fff'/%3E%3C/svg%3E");
  }
  [role="dialog"] button:focus, [role="dialog"] button:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M50 0a50 50 0 1 0 0 100A50 50 0 0 0 50 0zm26.6 76.6a37.5 37.5 0 0 1-53.2 0 37.5 37.5 0 0 1 0-53.2 37.5 37.5 0 0 1 53.2 0 37.5 37.5 0 0 1 0 53.2zm-7.3-45.9a6.6 6.6 0 0 0-9.3 0l-10 10-10-10a6.6 6.6 0 0 0-9.3 9.3l10 10-10 10a6.6 6.6 0 1 0 9.3 9.3l10-10 10 10a6.6 6.6 0 0 0 9.3 0 6.6 6.6 0 0 0 0-9.3l-10-10 10-10a6.6 6.6 0 0 0 0-9.3z' fill='%23fff'/%3E%3C/svg%3E");
  }
}