/* Dialog */
#Overlay {
  position: absolute;
  z-index: 150;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  backdrop-filter: blur(0.1em);
  /* Maybe no */
}

[role="dialog"] {
  position: absolute;
  z-index: 200;
  top: 10vh;
  bottom: 10vh;
  left: 10vw;
  right: 10vw;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
  border: .1em solid #000;
  background: #fefefe;
  padding: 1rem;
  visibility: visible;
  transition: transform .1s ease-in, opacity .2s ease-in;
    /*height: fit-content;  */
}

[role="dialog"][hidden] {
  display: block;
  visibility: hidden;
  transform: scale(0.5);
  opacity: .6;
}

[role="dialog"] h2 {
  margin: 0;
  padding: .5rem 1.25rem;
}

[role="dialog"] button {
  //float: right;
  //margin: -2rem 1.25rem 0 0;
  padding: 0;
  text-indent: 5em;
  line-height: 0;
  font: inherit;
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #555;
}

/* [role="dialog"] button:focus, [role="dialog"] button:hover {
  outline: .2em solid transparent;
  background: #fff;
  box-shadow: 0 0 0.5em white;
} */

[role="dialog"] div[role=document] {
  /*  Need this because of a VoiceOver bug  */
  display: inline;
}

[role="dialog"] div[role=document] div {
  box-sizing: border-box;
  height: calc(100% - 3rem);
  overflow: auto;
  padding: .5rem 1.25rem;
}

@media all and (min-width: 30em) {
  [role="dialog"] dl {
    margin: 1em 2rem;
    column-count: 2;
    column-gap: 4rem;
  }
}