
@media print {
  body {
    background-color: #fff;
    color: #000;
    font-size: 8pt;
  }
  header,
footer,
header > *,
footer > * {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    color: #000;
  }
  main {
    margin: 0;
    padding: 0;
  }
  main > *:not(#Elements) {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    color: #000;
  }
  header,
footer,
h1 {
    margin: 0;
    padding: 0;
  }
  a:link, a:visited {
    color: #000;
  }
  footer a:link, footer a:visited {
    color: #000;
  }
  #Elements li button {
    display: none;
  }
  #Elements ol {
    font-size: .7vw;
  }
}

@media print and (orientation: landscape) {
  #Elements ol {
    font-size: .63vw;
  }
  #Elements + h2 {
    page-break-before: always;
  }
}
