.prog {width: 100%;margin: 20px auto;text-align: center;}
.prog .circle{cursor: default}
.prog .circle,
.prog .bar {display: inline-block; background: #fff;width: 40px; height: 40px;border-radius: 40px;border: 1px solid #d5d5da;vertical-align: middle;}
.prog .bar {position: relative;max-width: 15%;height: 6px;margin-left: -1px;margin-right: -1px;border-left: none;border-right: none;border-radius: 0;}
.prog .circle .label {display: inline-block;width: 32px;height: 32px;line-height: 32px; border-radius: 32px;margin-top: 3px;color: #b5b5ba;font-size: 17px;border: 0;padding: 0}
.prog .circle .title { color: #b5b5ba;font-size: 13px;line-height: 30px;margin-left: -5px;visibility: hidden;}
/* Done / Active */
.prog .bar.done,
.prog .circle.done {background: #eee; cursor: pointer}
.prog .bar.active {background: linear-gradient(to right, #EEE 40%, #FFF 60%);}
.prog .circle.done .label {color: #FFF;background: #81CE97;box-shadow: inset 0 0 2px rgba(0,0,0,.2);}
.prog .circle.done .title {color: #444;}
.prog .circle.active .label { color: #FFF;background: #0c95be;box-shadow: inset 0 0 2px rgba(0,0,0,.2);cursor: pointer}
.prog .circle.select .label { color: #FFF;background: #FFCB42;box-shadow: inset 0 0 2px rgba(0,0,0,.2);}
.prog .circle.active .title {color: #0c95be;}

.prog .fa{line-height: 32px}


input[type=checkbox], input[type=radio] {
  position: absolute;left: 15px;top:12px
}

.list-group-item{
    padding-left: 37px;cursor: pointer
}